.fourth-highlight-wrapper .left-side-wrapper .left-side {
  background-image: url("../../../assets/Images/home/iphone11-bg.jpg");
  height: 510px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fbfbfd;
  padding: 20px 20px;
  margin-bottom: 10px;
}

.iphone-11 {
  font-size: 24px;
}

.fourth-highlight-wrapper .right-side-wrapper .right-side {
  background-image: url("../../../assets/Images/home/apple-blue-logo.jpg");
  height: 510px;
  background-color: #165ca9;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 35px;
  margin-bottom: 10px;
}
.fourth-highlight-wrapper .right-side-wrapper .right-side .link-wrapper ul a {
  list-style: none;
  color: white;
}
.fourth-highlight-wrapper
  .right-side-wrapper
  .right-side
  .link-wrapper
  ul
  li
  a:hover {
  color: #000;
}

.left-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}
.right-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

.fifth-highlight-wrapper .left-side-wrapper .left-side {
  background-image: url("../../../assets/Images/home/actors-lg.jpg");
  height: 510px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 35px;
  background-size: cover;
  margin-bottom: 10px;
}

.movie-title {
  padding-top: 340px;
}
.movie-link a {
  text-decoration: none;
  font-size: 0.85em;
  color: #fff;
}
.movie-link a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}

.fifth-highlight-wrapper .right-side-wrapper .right-side {
  background-image: url("../../../assets/Images/home/watch.jpg");
  height: 510px;
  background-color: #fbfbfd;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 35px;
  margin: 0 0 10px 0;
}

.sixth-highlight-wrapper .left-side-wrapper .left-side {
  background-image: url("../../../assets/Images/home/spyder.jpg");
  height: 510px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: cover;
}
.sixth-highlight-wrapper .right-side-wrapper .right-side {
  background-image: url("../../../assets/Images/home/apple-card-monthly.jpg");
  height: 510px;
  background-color: #fbfbfd;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 35px;
  margin: 0 0 10px 0;
}

@media (min-width: 768px) {
  .fourth-highlight-wrapper .left-side-wrapper .title-wrapper,
  .fourth-highlight-wrapper .right-side-wrapper .title-wrapper,
  .sixth-highlight-wrapper .right-side-wrapper .title-wrapper {
    font-weight: 600;
    font-size: 27px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
  }
  .disc {
    font-size: 15px;
  }
  .link-wrapper ul li a {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .fourth-highlight-wrapper .left-side-wrapper .title-wrapper,
  .fourth-highlight-wrapper .right-side-wrapper .title-wrapper,
  .sixth-highlight-wrapper .right-side-wrapper .title-wrapper {
    font-weight: 600;
    font-size: 35px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
  }
  .disc {
    font-size: 20px;
  }
  .link-wrapper ul li a {
    font-size: 20px;
  }
}
